# Core Streamlit dependencies
streamlit==1.41.1
streamlit-folium==0.23.2

# Fuzzy logic and related libraries
scikit-fuzzy
networkx

# Data processing
numpy
pandas
scipy

# Geospatial and mapping
folium
geopy

# Visualization
matplotlib
altair

# Utilities and runtime
attrs
requests
branca
typing_extensions
tzdata
